<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>釣果の写真をアプリ内に保存するために使用します。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>釣果の写真をフォトライブラリに保存するために使用します。</string>
</dict>
</plist>
